#components-layout-demo-top-side-2 .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top-side-2 .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-layout-background {
  background: #fff;
}

.link {
  text-decoration: none;
  border: 2px solid black;
}

.addtodobox {
  display: flex;
  margin-bottom: 20px;
  width: 100%;

  justify-content: center;
  align-items: center;
}

.inputbox {
  width: 80%;
  margin-right: 1%;
}

.bu {
  width: 3%;
}

.datepicker {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.taskbox {

  padding-top: 0px;
  padding-bottom: 0px;
  background-color: rgb(247, 243, 243);
  margin-bottom: 40px;
  margin-top: -30px;
}

.bo {

  flex-direction: row;

  justify-content: space-between;
  align-items: center;
}

.addbu {
  border-radius: 20px;

}

.taskbox {
  border-radius: 20px;
}